body{
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.72);
    text-align: center;
    background-image: url(https://cdn.discordapp.com/attachments/894924622540206110/936694166463856691/Cfdzt-UUhF5RwCl9V2XmIvF3Yqxw3hixwdv72qgQekk_1920x1080_1x-0.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 100%,100%;
    overflow: hidden;
    padding: 0;
}

a{
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 1s;
}
a:hover{
    color: #c4c4c4;
    text-decoration: underline;
}
a:visited{
    color: #cbcbcb;
}
#game{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

}
canvas{
    outline: 1px solid #333;
}
#scores{
    color: #ffffff;
    font-size : 4vw;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    width: 100%;
}

.score{
    color: #4f0000
}
.name{
    font-size: 3vw;
}

#scores >* {
    margin: 1vw;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    text-align: center;
}